// HEADER :: START
section#section-top
a.back-to-top(href="#section-top")
  img(src="img/top-arrow.svg", alt="")
header
  .header(data-aos='fade-up')
    .container
      .header__wrapper
        .header__image
          img(src="img/logotype.png", alt="")
        .header__list
          a.header__item(href="#section-about") О заводе
          a.header__item(href="#section-production") Производство
          a.header__item(href="#section-product") Продукция
          a.header__item(href="#section-consumers") Потребители
          a.header__item(href="#section-map") Контакты
      
// HEADER :: END