---
title: TZVP
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen
  section.firstscreen(data-aos="fade-up")
    .container
      .firstscreen__info(data-aos="fade-up" data-aos-delay="150")
        p «Зелёные инвестиции» 
          span с доходностью 28% годовых

  // BEGIN SECTION :: firstscreen

  // BEGIN SECTION :: about
  section.about#section-about
    .container
      h2(data-aos="fade-up") о заводе
      .about__grid
        .about__image(data-aos="fade-up")
          img(src="img/map.png", alt="")
        .about__right(data-aos="fade-up" data-aos-delay="150")
          .about__list
            p Тверской Завод Вторичных Полимеров (ТЗВП), входящий в Группу Компаний «ЭкоТехнологии», начал свою деятельность в Твери, на территории бывшего завода ХимВолокно. С 2005 года и на сегодняшний день является крупнейшим в России предприятием по переработке вторичной пластиковой упаковки с ежегодным объёмом переработки более 20 000 тонн.
            p По состоянию на сентябрь 2018 года на ТЗВП работает более 300 человек.
            p Ежемесячно завод даёт новую жизнь более, чем 60 млн ПЭТ-бутылок.
            p Завод внесён в Территориальную Схему Тверской области по управлению отходами, как утилизатор отходов пластика.
  // END SECTION :: about

  // BEGIN SECTION :: production
  section.production#section-production
    .container
      h2(data-aos="fade-up") производство
      .production__grid(data-aos="fade-up")
        p С 2005 года завод показывает динамичное наращивание объёмов переработки, ежегодно подтверждая актуальность, привлекательность и целесообразность рециклингового бизнеса в России.
        p ТЗВП сегодня — готовая производственная площадка для удвоения выпуска хлопьев и вторичного гранулята.
        p К 2025 году прогнозируется рост рынка вторичного гранулята в России в десятки раз, что безусловно отразится на оборотах крупнейших игроков и ТЗВП, как основного из них.
      .production__info
        img.production__image-opacity(src="img/info-graph.png", alt="")
        .production__p1(data-aos="fade-right")
          h2 11 000 м²
          p площадь производственных помещений
        .production__p2(data-aos="fade-up" data-aos-delay="150")
          h2 60
          h3 млн.
          p ПЭТ-бутылок перерабатывается ежемесячно
        .production__p3(data-aos="fade-left" data-aos-delay="300")
          img(src="img/people.png", alt="")
          h2 300
            span +
          p сотрудников обеспечивают производственный процесс
        .production__p4(data-aos="fade-right" data-aos-delay="450")
          h2 13
          h3 лет
          p завод является лидером отрасли
        .production__p5(data-aos="fade-up" data-aos-delay="600")
          h2 20 000
          p вторичного сырья перерабатывается ежегодно
        .production__p6(data-aos="fade-up" data-aos-delay="750")
          img(src="img/bottle.png", alt="")
          h2 тонн
        

  // END SECTION :: production

  // BEGIN SECTION :: product
  section.product#section-product
    .container
      h2(data-aos="fade-up") ПРОДУКЦИЯ
      p.product__desc(data-aos="fade-up") Продукция ТЗВП, произведенная из вторичных полимеров, снижает нагрузку на мусорные полигоны и позволяет потребителям экономически и экологически эффективно производить пластиковую продукцию.
      .product__grid(data-aos="fade-up")
        .product__item
          p.product__title ПЭТ флейки
          .product__image
            img(src="img/img1-1.png", alt="")
          p.product__info Высокое качество ПЭТ-хлопьев, в точности соответствующее требованиям специфического потребителя, является ключевым моментом производственной стратегии АО «ЭкоТехнологии».
        .product__item
          p.product__title ПНД гранулы
          .product__image
            img(src="img/img1-2.png", alt="")
          p.product__info Производственные мощности Тверского Завода Вторичных Полимеров на данный момент позволяют перерабатывать порядка 400 тонн вторичной гранулы ПНД, полученной при рециклинге из твёрдых коммунальных отходов.
        .product__item
          p.product__title ПЭТ лента
          .product__image
            img(src="img/img1-3.png", alt="")
          p.product__info Полиэстеровая упаковочная лента имеет прочностные характеристики, сопоставимые со стальной лентой, полиэстер превосходит металл по ряду параметров: эластичность (или возвратная память), экономичность (вес полиэстеровых лент в 7 раз ниже, чем стальных), устойчивость к ударным нагрузкам и химическому воздействию.

  // END SECTION :: product

  // BEGIN SECTION :: magic
  section.magic
    .container
      .magic__image(data-aos="fade-up")
        img(src="img/info-product.png", alt="")
        p.magic__title это магия!
        p.magic__desc пластиковый мусор преобразуется 
          br 
          | в реальный доход
        p.magic__p1 Полиэфирное волокно 
        p.magic__p2 Мононить
        p.magic__p3 Наполнитель для ТНП
        p.magic__p4 ПЭТ-плёнка и листы
        p.magic__p5 ПЭТ-лента, ПЭТ-щётки
        p.magic__p6 ПЭТ-преформы


  // END SECTION :: magic

  // BEGIN SECTION :: consumers
  section.consumers#section-consumers
    .container
      h2(data-aos="fade-up") Потребители
      .consumers__image(data-aos="fade-up")
        img(src="img/info-consumers.png", alt="")
      p(data-aos="fade-up") Крупные иностранные корпорации (Pepsico, Danone, Coca Cola, Nestle, Uniliver, P&G и другие производители и пользователи ПЭТ тары) декларируют потребление упаковки на 30% к 2020 году и на 100% из вторсырья к 2025 году, что является свидетельством перспективности отрасли вторичной переработки ПЭТ тары в мире и РФ.

  // END SECTION :: consumers

  // BEGIN SECTION :: map
  section.map#section-map
    .map__map(data-aos="fade-up")
      iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Acaa92b06a5ffe0731f2e2f6a7e460db57c8c5b901066c2d55aa551302b10f43e&amp;source=constructor" width="100%" height="627" frameborder="0")
    .container
      .map__info(data-aos="fade-up")
        p.map__title Тверской Завод  Вторичных Полимеров
        p.map__address 170000, Тверь, площадь Гагарина, дом 1
        a.map__phone(href="#") +7 4822-39-44-96
        a.map__mail(href="#") info@tzvp.ru

  // END SECTION :: map